# dotenv environment variable files
backend/.env
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.env.local

# TypeScript cache
backend/*.tsbuildinfo

# Optional npm cache directory
backend/.npm

# Optional eslint cache
backend/.eslintcache

# Optional stylelint cache
backend/.stylelintcache

# Dependency directories
backend/node_modules/
backend/package-lock.json
backend/jspm_packages/

# android
android/Sale_Laptop/*.iml
android/Sale_Laptop/.gradle
android/Sale_Laptop/local.properties
android/Sale_Laptop/.idea/caches
android/Sale_Laptop/.idea/deploymentTargetSelector.xml
android/Sale_Laptop/.idea/libraries
android/Sale_Laptop/.idea/modules.xml
android/Sale_Laptop/.idea/workspace.xml
android/Sale_Laptop/.idea/navEditor.xml
android/Sale_Laptop/.idea/assetWizardSettings.xml
android/Sale_Laptop/.DS_Store
android/Sale_Laptop/build
android/Sale_Laptop/captures
android/Sale_Laptop/.externalNativeBuild
android/Sale_Laptop/.cxx
android/Sale_Laptop/local.properties
